{% extends 'templates/headerfooter.twig' %}

{% block title %}Stagehub - Statistique des entreprises{% endblock %}

{% block content %}
    <div class="container mx-auto px-4 py-8 flex flex-col">
        <h2 class="text-2xl font-semibold mt-4 w-full text-center">Stats des entreprises</h2>
        <div class="h-full mt-10 mb-8">
            <table class="w-full text-left table-auto border-collapse">
                <thead>
                <tr class="bg-gray-100 sticky top-0">
                    <th class="px-4 py-2 border">Entreprise</th>
                    <th class="px-4 py-2 border">Localité</th>
                    <th class="px-4 py-2 border">Secteur d'activité</th>
                    <th class="px-4 py-2 border">Classement</th>
                </tr>
                </thead>
                <tbody>
                {% for key,company in data %}
                    <tr class="border-b even:bg-gray-50 odd:bg-white">
                        <td class="px-4 py-2">{{ company['name'] }}</td>
                        <td class="px-4 py-2">{{ company['ville'] }}</td>
                        <td class="px-4 py-2">{{ company['activitySector'] }}</td>
                        <td class="px-4 py-2">{{ company['stats'] }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>


        <div>
            {#            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination"> #}
            {#                <a href="#" #}
            {#                   class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"> #}
            {#                    <span class="sr-only">Previous</span> #}
            {#                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> #}
            {#                        <path fill-rule="evenodd" #}
            {#                              d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z" #}
            {#                              clip-rule="evenodd"/> #}
            {#                    </svg> #}
            {#                </a> #}
            {#                <!-- Current: "z-10 bg-indigo-600 text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:outline-offset-0" --> #}
            {#                <a href="/statsCompany/1" aria-current="page" #}
            {#                   class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">1</a> #}
            {#                <a href="/statsCompany/{{ page + 2 }}" #}
            {#                   class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">2</a> #}
            {#                <a href="/statsCompany/3" #}
            {#                   class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">3</a> #}
            {#                <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span> #}
            {#                <a href="#" #}
            {#                   class="relative hidden items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">8</a> #}
            {#                <a href="#" #}
            {#                   class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">9</a> #}
            {#                <a href="#" #}
            {#                   class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">10</a> #}
            {#                <a href="#" #}
            {#                   class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0"> #}
            {#                    <span class="sr-only">Next</span> #}
            {#                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true"> #}
            {#                        <path fill-rule="evenodd" #}
            {#                              d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" #}
            {#                              clip-rule="evenodd"/> #}
            {#                    </svg> #}
            {#                </a> #}
            {#            </nav> #}

            {% set totalPages = (totalCompanies / 10)|round(0, 'ceil') %}
            {% set maxPagesToShow = 5 %}

            <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm align-items-center"
                 aria-label="Pagination">
                <!-- Previous button -->
                {% if page > 1 %}
                    <a href="/statsCompany/{{ page - 1 }}"
                       class="relative inline-flex items-center rounded-l-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Previous</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M12.79 5.23a.75.75 0 01-.02 1.06L8.832 10l3.938 3.71a.75.75 0 11-1.04 1.08l-4.5-4.25a.75.75 0 010-1.08l4.5-4.25a.75.75 0 011.06.02z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                {% endif %}

                <!-- Page number buttons -->
                {% set totalPages = (totalCompanies / 10)|round(0, 'ceil') %}
                {% set maxPagesToShow = 5 %}

                {% if page > maxPagesToShow %}
                    <a href="/statsCompany/1"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">1</a>
                    {% if page - maxPagesToShow > 2 %}
                        <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
                    {% endif %}
                {% endif %}

                {% for i in (page - maxPagesToShow|default(1))..(page + maxPagesToShow) %}
                    {% if i > 0 and i <= totalPages %}
                        {% if i == page %}
                            <a href="/statsCompany/{{ i }}" aria-current="page"
                               class="relative z-10 inline-flex items-center bg-indigo-600 px-4 py-2 text-sm font-semibold text-white focus:z-20 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">{{ i }}</a>
                        {% else %}
                            <a href="/statsCompany/{{ i }}"
                               class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}

                {% if page < totalPages - maxPagesToShow %}
                    {% if page + maxPagesToShow < totalPages - 1 %}
                        <span class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-700 ring-1 ring-inset ring-gray-300 focus:outline-offset-0">...</span>
                    {% endif %}
                    <a href="/statsCompany/{{ totalPages }}"
                       class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">{{ totalPages }}</a>
                {% endif %}

                <!-- Next button -->
                {% if page < totalPages %}
                    <a href="/statsCompany/{{ page + 1 }}"
                       class="relative inline-flex items-center rounded-r-md px-2 py-2 text-gray-400 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">
                        <span class="sr-only">Next</span>
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                  d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>
                {% endif %}
            </nav>


        </div>
    </div>

{% endblock %}